<!-- footer -->
   <link href="sticky-footer-css rel="stylesheet">
   <div class="footer" class="../sti">
    <div class="footer-copyright">
      We <i class="fa fa-heart"></i> our artists!
    </div>
  </div>
