// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$yellow: #C08552;
$orange: #F38D68;
$green: #4E5340;
$blue: #1985A1;
$bluegray: #4C5C68;
$mediumgray: #C5C3C6;
$light-gray: #DCDCDD;
$gray: #DCDCDD;
$white: white;
$black: black;
