<h1 class="text-center">New artist</h1>
<h3><%= @artist.name %></h3>
<br>
<div class="col-xs-6 col-xs-offset-3">
  <%= render 'form', artist: @artist %>
</div>
<br>
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
