.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-rows: 40% 30% 30%;
  color: #444;
  margin: 10px 10px 10px 10px;
  font: $body-font;
}

.box {
  // background-color: #F7F7F7;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

}

.box .box {
  background-color: #e5e5e5;
  color: #444;
  padding: 10px 10px 10px 10px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 20px;

}

 .artist_pict {
   grid-column: 1 / span 2;
   grid-row: 1;
}

.artist_info {
  position: relative;
  grid-column: 3 / span 4;
  grid-row: 1;
  padding: 10px auto;

    .left_info_title {
      text-decoration: underline;
      font-size: 18px;
      text-align: left;
    }
}

.artist_name {
  text-align: center;

}

.artist_genre {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.artist_location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.artist_price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.artist_agenda {
  grid-column: 7 / span 2;
  grid-row: 1;
  border: solid 0.5px #ccc;
  border-radius: 10px;
}

.artist_description {
  grid-column: 1 / span 6;
  grid-row: 3;
  border: solid 0.5px #ccc;
  border-radius: 10px;
    .pull-left {
      position: relative;
      font-size: 15px;
      top: -10px;
    }
    .artist_details {
      position: relative;
      left: 18px;
    }
}

.artist_ranting {
  grid-column: 7 / span 2;
  grid-row: 2 / span 2;
  border: solid 0.5px #ccc;
  border-radius: 10px;
}

.artist_stars {
  .checked {
    color: orange;
  }
}

.artist_music_link {
  grid-column: 1 / span 6;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20px;
  border-radius: 10px;
}

.music_links {
  text-align: center;
}

.avatar-large {
width: 230px;
border-radius: 30%;
box-shadow: 0 5px 10px rgba(0,0,0,0.2);
// border: white 1px solid;
}

.hide {
  display: none;
}

