.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-rows: 40% 30% 30%;
  color: #444;
  margin: 10px 10px 10px 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  color: #444;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.user_pict {
   grid-column: 1 / span 2;
   grid-row: 1;
}

.user_info {
  grid-column: 3 / span 4;
  grid-row: 1;
  padding: 10px auto;

  .user_name {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;

    .pull-left {
      position: relative;
      font-size: 15px;
      top: -10px;
      text-decoration: underline;
    }
    .user_details {
      position: relative;
      left: 18px;
    }
  }

  .user_location {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
    // .pull-left {
    //   position: relative;
    //   font-size: 15px;
    //   top: -10px;
    //   text-decoration: underline;
    // }
    // .user_details {
    //   position: relative;
    //   left: 18px;
    // }
  }

  .event_description {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
  }
}

.user_agenda {
  grid-column: 7 / span 2;
  grid-row: 1 / span 3;
  border: solid 0.5px #ccc;
  border-radius: 10px;
}

.user_bookings {
  grid-column: 1 / span 6;
  grid-row: 2;
}

.artist_card {
  grid-column: 1 / span 6;
  grid-row: 3 / span 2;
  display: flex;
  justify-content: space-evenly;
  border: solid 0.5px #ccc;
  border-radius: 10px;
}

.user_ranting {
  display: flex;
  justify-content: space-evenly;
}

.btn-primary {
  border-radius: 5px;
}

.btn_review {
  padding: 5px 10px 5px 10px;
}

.btn_rating {
  padding: 5px 10px 5px 10px;
}
