.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
  grid-template-rows: 40% 30% 30%;
  color: #444;
  margin: 10px 10px 10px 10px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  color: #444;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.user_pict {
   grid-column: 1 / span 2;
   grid-row: 1;
}

.user_info {
  grid-column: 3 / span 4;
  grid-row: 1;
  padding: 10px auto;

  .user_name {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;

    .pull-left {
      position: relative;
      font-size: 15px;
      top: -10px;
      text-decoration: underline;
    }
    .user_details {
      position: relative;
      left: 18px;
    }
  }

  .user_location {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
  }

  .event_description {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    overflow-x: auto;

    .pull-left {
      position: relative;
      font-size: 15px;
      top: -10px;
      text-decoration: underline;
    }
    .user_details {
      position: relative;
      left: 18px;
    }
  }
}

.user_agenda {
  grid-column: 7 / span 2;
  grid-row: 1 / span 3;
  // border: solid 0.5px #ccc;
  // border-radius: 10px;
}

.user_bookings {
  grid-column: 1 / span 6;
  grid-row: 2;
}

.artist_card {
  grid-column: 1 / span 6;
  grid-row: 3 / span 2;
  display: flex;
  justify-content: space-evenly;
  // border: solid 0.5px #ccc;
  // border-radius: 10px;
  height: 200px;
  width: 100
}

.user_ranting {
  display: flex;
  justify-content: space-evenly;
}

.btn-primary {
  border-radius: 5px;
}

.btn_review {
  padding: 5px 10px 5px 10px;
}

.btn_rating {
  padding: 5px 10px 5px 10px;
}

// --- artist picture linked ---

.artist_pict_user {

}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 30%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

.container_down {

}

// --- Calendar ---

figure {
  margin: 30px auto;

  width: 128px;
  height: 111px;

  background-color: #ffffff;
  border-radius: 10px;

  position: relative;

  &:before {
    content: '';
    display: block;

    width:128px;
    height: 69px;

    border-radius: 10px 10px 0 0;

    background-image: -webkit-linear-gradient(white 0%, #edeeef 100%);
    background-image: -moz-linear-gradient(white 0%, #edeeef 100%);
    background-image: -o-linear-gradient(white 0%, #edeeef 100%);
    background-image: linear-gradient(white 0%, #edeeef 100%);

  }

  header {
    width: 128px;
    height: 27px;

    position: absolute;
    top: -1px;

    background-color: #fa565a;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #e5e5e5;

    font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: 0.5px;
    color: #fff;

    text-align: center;
  }

  section {
    width: 128px;
    height: 80px;

    position: absolute;
    top: 28px;

    font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    letter-spacing: -2px;
    color: #4c566b;

    text-align: center;

    z-index: 10;

    &:before {
      content: '';
      display: block;

      position: absolute;
      top: 35px;

      width: 3px;
      height: 10px;

      background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
    }

    &:after {
      content: '';
      display: block;

      position: absolute;
      top: 35px;
      right: 0;

      width: 3px;
      height: 10px;

      background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
      background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
    }

  }
}


