<h1>Welcome</h1>

<ul>
<% @artists.each do | artist | %>
<li><%= link_to artist.name, artist_path(artist) %> | <%= artist.genre %> | <%= artist.price %> euros </li>
<% end %>
</ul>

<%= link_to 'View all artists', artists_path %>
