
<div class="wrapper">
  <div class="box user_pict">PICTURE</div>
  <div class="box user_info">
    <div class="box user_name">USER NAME</div>
    <div class="box artist_location">LOCATION</div>
  </div>
  <div class="box user_agenda">user agenda</div>
  <div class="box user_bookings">Event description
    <div class="box event_description"></div>
    <div class="box artist_card"></div>
  </div>
  <div class="box user_ranting">Links
    <div class="box btn_review"></div>
    <div class="box btn_rating"></div>
  </div>
</div>
